[Unit]
Description=Start mjpg_streamer
After=network-online.target
Wants=network-online.target

[Service]
Environment="LC_ALL=C.UTF-8"
Environment="LANG=C.UTF-8"
Type=exec
User=octoprint
ExecStart=/home/octoprint/Kingroon/Server/kingroon.py

[Install]
WantedBy=multi-user.target
